{
	"app": {
		"env": "development",
		"debug": "true",
		"host": "127.0.0.1",
		"port": "80",
		"path": "backend"
	},
	"database": {
		"host": "127.0.0.1",
		"database": "database_project",
		"username": "username",
		"password": "secret"
	},
	"mail": {
		"project": "Project Name",
		"name": "User Name",
		"host": "smtp.gmail.com",
		"port": "587",
		"auth": {
			"user": "username@gmail.com",
			"pass": "******"
		}
	}
}